option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "irishtidetimes_django.settings"
    PYTHONPATH: "/opt/python/current/app/irishtidetimes:/opt/python/current/app/irishtidetimes/irishtidetimes_django:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "irishtidetimes_django/wsgi.py"
