container_commands:
  01_migrate:
    command: "./django/manage.py migrate myapp --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "django.settings"
    PYTHONPATH: "/opt/python/current/app/irish-tide-times/django:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "django/wsgi.py"
