{% load i18n %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="{% url 'landing_page' %}">
            <svg
               xmlns:dc="http://purl.org/dc/elements/1.1/"
               xmlns:cc="http://creativecommons.org/ns#"
               xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
               xmlns:svg="http://www.w3.org/2000/svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
               xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
               class="logo"
               version="1.1"
               id="svg3074"
               inkscape:version="0.48.4 r9939"
               width="99.774597"
               height="97.366348"
               sodipodi:docname="new.svg">
              <metadata
                 id="metadata3104">
                <rdf:RDF>
                  <cc:Work
                     rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                       rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                  </cc:Work>
                </rdf:RDF>
              </metadata>
              <defs
                 id="defs3102">
                <linearGradient
                   inkscape:collect="always"
                   id="linearGradient3880">
                  <stop
                     style="stop-color:#0092db;stop-opacity:1;"
                     offset="0"
                     id="stop3882" />
                  <stop
                     style="stop-color:#0092db;stop-opacity:0;"
                     offset="1"
                     id="stop3884" />
                </linearGradient>
                <linearGradient
                   inkscape:collect="always"
                   xlink:href="#linearGradient3880"
                   id="linearGradient3886"
                   x1="-23.592563"
                   y1="60.515276"
                   x2="74.758436"
                   y2="60.515276"
                   gradientUnits="userSpaceOnUse" />
              </defs>
              <sodipodi:namedview
                 pagecolor="#ffffff"
                 bordercolor="#666666"
                 borderopacity="1"
                 objecttolerance="10"
                 gridtolerance="10"
                 guidetolerance="10"
                 inkscape:pageopacity="0"
                 inkscape:pageshadow="2"
                 inkscape:window-width="1362"
                 inkscape:window-height="748"
                 id="namedview3100"
                 showgrid="false"
                 fit-margin-top="0"
                 fit-margin-left="0"
                 fit-margin-right="0"
                 fit-margin-bottom="0"
                 inkscape:zoom="4.4170065"
                 inkscape:cx="10.665501"
                 inkscape:cy="38.971413"
                 inkscape:window-x="0"
                 inkscape:window-y="18"
                 inkscape:window-maximized="0"
                 inkscape:current-layer="svg3074" />
              <path
                 style="fill:url(#linearGradient3886);stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
                 d="m 46.864318,19.485549 c 0,0 -6.339135,-4.301555 -23.31896,7.018328 C 6.5655325,37.823761 -23.092563,102.3471 -23.092563,102.3471 l 75.390425,-0.2264 c 0,0 -8.150316,-19.017405 6.112737,-43.921149 C 72.673653,33.295807 74.258436,33.522205 74.258436,33.522205 z"
                 id="path3110"
                 inkscape:connector-curvature="0" />
              <path
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.80638604999999997px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                 d="m 53.927309,17.724553 c 11.847808,-1.828544 9.478246,11.702678 11.847808,-1.828544 2.369562,-13.5312207 9.478247,6.765611 7.837781,15.176911 -1.640466,8.411299 2.734109,-2.742815 6.561863,6.399902 3.827753,9.142716 8.931427,12.616949 1.640465,14.994055 C 74.524267,54.843984 72.701528,56.123964 69.60287,49.541208 66.504213,42.958452 66.504213,63.9867 69.238323,63.803847 71.972432,63.620992 79.081117,71.483729 75.98246,72.398 72.883802,73.312272 64.134652,71.666582 63.041008,71.300874 61.947364,70.935166 59.213255,66.91237 58.848706,57.952507 58.484158,48.992645 60.85372,39.849928 61.76509,39.118511 62.67646,38.387093 64.499199,31.438629 53.745036,26.684416 42.990871,21.930203 41.350406,13.518903 42.808597,12.056068 c 1.458192,-1.462835 2.369562,-10.7884057 5.103671,-7.1313191 2.73411,3.6570873 6.015041,12.7998041 6.015041,12.7998041 z"
                 id="path3108"
                 inkscape:connector-curvature="0" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3890"
                 sodipodi:cx="10.640691"
                 sodipodi:cy="17.221573"
                 sodipodi:rx="6.5655327"
                 sodipodi:ry="3.1695673"
                 d="m 17.206223,17.221573 a 6.5655327,3.1695673 0 1 1 -13.1310649,0 6.5655327,3.1695673 0 1 1 13.1310649,0 z"
                 transform="matrix(0.74142044,0.31685017,-0.34756676,0.8132964,7.3787255,0.97581332)" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3892"
                 sodipodi:cx="35.657635"
                 sodipodi:cy="8.1656656"
                 sodipodi:rx="2.6035733"
                 sodipodi:ry="4.0751581"
                 d="m 38.261208,8.1656656 a 2.6035733,4.0751581 0 1 1 -5.207147,0 2.6035733,4.0751581 0 1 1 5.207147,0 z"
                 transform="matrix(0.80022877,0.59969485,-0.59969485,0.80022877,12.020277,-19.752435)" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3894"
                 sodipodi:cx="81.050369"
                 sodipodi:cy="79.141335"
                 sodipodi:rx="1.358386"
                 sodipodi:ry="4.8675499"
                 d="m 82.408755,79.141335 a 1.358386,4.8675499 0 1 1 -2.716772,0 1.358386,4.8675499 0 1 1 2.716772,0 z"
                 transform="matrix(0.97303857,-0.52687648,0.23562192,0.43514794,-17.367787,84.576708)" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3896"
                 sodipodi:cx="90.445869"
                 sodipodi:cy="68.727043"
                 sodipodi:rx="4.4147544"
                 sodipodi:ry="1.9243802"
                 d="m 94.860624,68.727043 a 4.4147544,1.9243802 0 1 1 -8.829509,0 4.4147544,1.9243802 0 1 1 8.829509,0 z"
                 transform="matrix(0.91575848,-0.40172927,0.40172927,0.91575848,-19.990367,42.124423)" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3898"
                 sodipodi:cx="85.578323"
                 sodipodi:cy="22.768314"
                 sodipodi:rx="3.8487604"
                 sodipodi:ry="2.3771756"
                 d="m 89.427084,22.768314 a 3.8487604,2.3771756 0 1 1 -7.697521,0 3.8487604,2.3771756 0 1 1 7.697521,0 z"
                 transform="matrix(0.37753211,-0.30298264,0.63956705,0.79693376,36.557117,30.665421)" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3900"
                 sodipodi:cx="91.804253"
                 sodipodi:cy="36.465374"
                 sodipodi:rx="2.3771756"
                 sodipodi:ry="1.8111814"
                 d="m 94.181428,36.465374 a 2.3771756,1.8111814 0 1 1 -4.754351,0 2.3771756,1.8111814 0 1 1 4.754351,0 z"
                 transform="matrix(0.87152331,-0.49035407,0.49035407,0.87152331,-6.0862383,49.70154)" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3902"
                 sodipodi:cx="89.087486"
                 sodipodi:cy="56.501568"
                 sodipodi:rx="2.8299708"
                 sodipodi:ry="1.6979825"
                 d="m 91.917457,56.501568 a 2.8299708,1.6979825 0 1 1 -5.659942,0 2.8299708,1.6979825 0 1 1 5.659942,0 z" />
              <path
                 sodipodi:type="arc"
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.11300004;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 id="path3904"
                 sodipodi:cx="69.504082"
                 sodipodi:cy="4.0905075"
                 sodipodi:rx="4.5279536"
                 sodipodi:ry="1.8111814"
                 d="m 74.032035,4.0905075 a 4.5279536,1.8111814 0 1 1 -9.055907,0 4.5279536,1.8111814 0 1 1 9.055907,0 z"
                 transform="matrix(0.81475348,-0.57980752,0.57980752,0.81475348,10.503682,41.056742)"
                 inkscape:transform-center-x="-4.3932037"
                 inkscape:transform-center-y="-3.5686807" />
            </svg>
				Irish Tide Times
			</a>
			<div class="nav-collapse" id="main-menu">
				<ul class="nav" id="main-menu-left">
				</ul>
				<ul class='nav pull-right'>
					{% if not user.is_authenticated %}
					<li><a href="{% url "signup" %}">Register</a></li>
					{% endif %}

					<li class='divider-vertical'></li>
					{% if not user.is_authenticated %}
						<li><a href="{% url 'login' %}">{% trans "Sign In" %}</a></li>
					{% else %}
						<li class='dropdown'>
							<a href="#" class='dropdown-toggle' data-toggle='dropdown'>{% trans "Account" %}<b class='caret'></b></a>
							<ul class='dropdown-menu'>
								<li><a href="{% url 'home' %}">{% trans "Subscription" %}</a></li>
								<li class='divider'></li>
								<li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
							</ul>
						</li>
					{% endif %}
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>
