{% extends "app_base.html" %}

{% block main_content %}

      <div class="jumbotron">
        <h1>Tide times for Ireland</h1>
        <p class="lead">Get tides by text for free. Text your location code to </p>
        <h1>+353 86 1800 340</h1>

        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#locationCodes">Location Codes</a>
                        </h4>
                    </div>
                    <div id="locationCodes" class="accordion-body collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Dublin</li>
                                <li class="list-group-item">Arklow</li>
                                <li class="list-group-item">Bantry</li>
                                <li class="list-group-item">Belfast</li>
                                <li class="list-group-item">Castletownbere</li>
                                <li class="list-group-item">Cobh</li>
                                <li class="list-group-item">Derry</li>
                                <li class="list-group-item">Dingle</li>
                                <li class="list-group-item">Dungarvan</li>
                                <li class="list-group-item">Dun Laoghaire</li>
                                <li class="list-group-item">Galway</li>
                                <li class="list-group-item">Greystones</li>
                                <li class="list-group-item">Howth</li>
                                <li class="list-group-item">Kilkeel</li>
                                <li class="list-group-item">Killybegs</li>
                                <li class="list-group-item">Kinsale</li>
                                <li class="list-group-item">Larne</li>
                                <li class="list-group-item">Limerick Docks</li>
                                <li class="list-group-item">Moville</li>
                                <li class="list-group-item">Portrush</li>
                                <li class="list-group-item">Rathmullen</li>
                                <li class="list-group-item">Schull</li>
                                <li class="list-group-item">Sligo</li>
                                <li class="list-group-item">Warrenpoint</li>
                                <li class="list-group-item">Waterford Bridge</li>
                                <li class="list-group-item">Westport</li>
                                <li class="list-group-item">Wexford</li>
                                <li class="list-group-item">Wicklow</li>
                                <li class="list-group-item">Youghal</li>
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Source</h2>
                <p class="lead"><span class="glyphicon glyphicon-eye-open"></span> View the project on Github</p>
                <p><a href = "https://github.com/sandeel/irish-tide-times">https://github.com/sandeel/irish-tide-times</a></p>
            </div>
          </div>

          <hr>

          <footer>
            <p>&copy; x11105089</p>
          </footer>
        </div>

{% endblock main_content %}
