{% extends "app_base.html" %}

{% block main_content %}
      <div class="jumbotron">
        <h1>Text</h2>
        <p class="lead">Get tides by text for free. Text your location code to </p>
        <h1>0857169620</h1>
        <h2>Location codes</h2>
        <div id="listContainer">
            <ul>
                <li>Dublin</li>
                <li>Arklow</li>
                <li>Bantry</li>
                <li>Belfast</li>
                <li>Castletownbere</li>
                <li>Cobh</li>
                <li>Derry</li>
                <li>Dingle</li>
                <li>Dungarvan</li>
                <li>Dun Laoghaire</li>
                <li>Galway</li>
                <li>Greystones</li>
                <li>Howth</li>
                <li>Kilkeel</li>
                <li>Killybegs</li>
                <li>Kinsale</li>
                <li>Larne</li>
                <li>Limerick Docks</li>
                <li>Moville</li>
                <li>Portrush</li>
                <li>Rathmullen</li>
                <li>Schull</li>
                <li>Sligo</li>
                <li>Warrenpoint</li>
                <li>Waterford</li>
                <li>Westport</li>
                <li>Wexford</li>
                <li>Wicklow</li>
                <li>Youghal</li>
            </ul>
         </div>
      </div>

      <div class="jumbotron">
        <h1>Sign up</h1>
        <p class="lead">Or sign up to get daily tide reports by text for €1 per month.</p>
        <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up</a></p>
      </div>

      <div class="jumbotron">
        <h1>API</h1>
        <p class="lead">Use the API to get the tides in JSON format.</p>
      </div>
{% endblock main_content %}
