{% extends "app_base.html" %}

{% block main_content %}

        <h1>Tide times for Ireland</h1>


        <p class="bg-warning">Get tides by text message for free. Text your location code to +353 86 1800 340</p>

        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#locationCodes">Location Codes</a>
                        </h4>
                    </div>

                    <div id="locationCodes" class="accordion-body collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for t in locations %}
                                <li class="list-group-item">{{ t }}</li>
                                {% endfor %}
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <table class="table table-striped">
        <th>{{ t.location }}</th>
        <th>First Low</th>
        <th>First High</th>
        <th>Second Low</th>
        <th>Second High</th>
        {% for t in results %}
        <tr>
            <td>{{ t.location }}</td>
            <td>{{ t.first_low }}</td>
            <td>{{ t.first_high }}</td>
            <td>{{ t.second_low }}</td>
            <td>{{ t.second_high }}</td>
        </tr>
        {% endfor %}
    </table>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Source</h2>
                <p class="lead"><span class="glyphicon glyphicon-eye-open"></span> View the project on Github</p>
                <p><a href = "https://github.com/sandeel/irish-tide-times">https://github.com/sandeel/irish-tide-times</a></p>
            </div>
          </div>

          <hr>

          <footer>
            <p>&copy; x11105089</p>
          </footer>
        </div>

{% endblock main_content %}
