<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Irish Tide Times</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">About</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Irish Tide Times</h3>
      </div>

      <div class="jumbotron">
        <h1>Text</h2>
        <p class="lead">Get tides by text for free. Text your location code to </p>
        <h1>0857169620</h1>
        <h2>Location codes</h2>
        <ul>
            <li>Dublin</li>
            <li>Arklow</li>
            <li>Bantry</li>
            <li>Belfast</li>
            <li>Castletownbere</li>
            <li>Cobh</li>
            <li>Derry</li>
            <li>Dingle</li>
            <li>Dungarvan</li>
            <li>Dun Laoghaire</li>
            <li>Galway</li>
            <li>Greystones</li>
            <li>Howth</li>
            <li>Kilkeel</li>
            <li>Killybegs</li>
            <li>Kinsale</li>
            <li>Larne</li>
            <li>Limerick Docks</li>
            <li>Moville</li>
            <li>Portrush</li>
            <li>Rathmullen</li>
            <li>Schull</li>
            <li>Sligo</li>
            <li>Warrenpoint</li>
            <li>Waterford</li>
            <li>Westport</li>
            <li>Wexford</li>
            <li>Wicklow</li>
            <li>Youghal</li>
        </ul>
      </div>

      <div class="jumbotron">
        <h1>Sign up</h1>
        <p class="lead">Or sign up to get daily tide reports by text for €1 per month.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up</a></p>
      </div>

      <div class="jumbotron">
        <h1>API</h1>
        <p class="lead">Use the API to get the tides in JSON format.</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>

