<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Irish Tide Times{% endblock %}</title>
		<meta name="description" content="{% block meta_description %}{{meta_description|safe|striptags}}{% endblock %}">
		<meta name="keywords" content="{% block meta_keywords %}{{meta_keywords|safe|striptags}}{% endblock %}">
		<meta name="author" content="Potato London">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="980">
		<meta http-equiv="cleartype" content="on">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

		{% block extra_css %}

		{% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>

<body>

	<div id="wrap">
		<div id="main">
			{% block body %}
			BODY GOES HERE
			{% endblock body %}
		</div>
	</div>

	{% include 'website/_footer.html' %}
</body>

</html>
